/* colours
red #e7001d
dark grey #222222
black borders #111111
yellow #e4c22a

*/


/*position relative and overflow hidden for banner*/
/* if something has a width you can add margin: 0 auto; fixes everything!!!!*/

html {
	font-family: 'Noto Sans', sans-serif;
	box-sizing: border-box;
	margin: auto 0;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

header {
	text-align: center;
	text-shadow:0 2px 3px rgba(0, 0, 0, 200);
	padding-bottom: 1em;
	background-color: #e7001d;
	padding-top: 1em;
	position: relative;
}

.medallion {
width: 100px;
position: relative;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
	color: white;
	font-size: 3.5rem;
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	bottom: 10px;
}


.chinese-zodiac {
	margin-top: 0;
	font-size: 1rem;
}







nav ul {
	list-style-type: none;
	background-color: #222222;
	padding-left: 0;
	margin: 0;
}

nav ul li {
	background-color: #222222;
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	color: white;
}

img {
	width: 100%;
}

.topnav {
	display: block;
	margin: 0;
}

.bottomnav {
	display: block;
	margin: 0;
}

.bottomnav, .topnav {
	text-align: center;
}

.li-dragon {
	float: left;
}
.li-rooster {
	float: left;
}







.main-p {
	padding: 0 0.75em;
}

/*figure {
	width: 100%;
	clear: both;
	margin: 0;
}

.dragon-symbol, .goat-icon, .rooster-symbol, .ox-icon {
	/*float: left;*/
	/*width: 40%;
	position: relative;
	left: 10%;

}

.dragon-icon, .goat-symbol, .rooster-icon, .ox-symbol {
	/*float: right;*/
	/*width: 40%;
	position: relative;
	left: 10%;
}*/



.dragon-symbol, .goat-icon, .rooster-symbol, .ox-icon {
	float: left;
	width: 40%;
}

.dragon-icon, .goat-symbol, .rooster-icon, .ox-symbol {
	float: right;
	width: 40%;
}

.dragon {
	background-color: #e4c22a;
	overflow: hidden;
}

.goat {
	background-color: #222222;
	color: white;
	overflow: hidden;
}

.rooster {
	background-color: #e7001d;
	color: white;
	overflow: hidden;
}

.ox {
	background-color: #e4c22a;
	overflow: hidden;
}

h2 {
 text-align: center;
 font-style: italic;
}

.banner {
	position: relative;
}

h3 {
	margin: 0;
	padding: 1em 0;
	text-align: center;
}
.h3-p {
	margin: 0;
	padding: 1em 0;
	text-align: center;
	font-style: italic;
	clear: both;
	font-size: 90%;
	padding-left: 0.25rem;
	padding-bottom: 2em;
}

footer {
	background-color: #222222;
	padding: 1em 0;
}

.backtotop {
	color: white;
	text-decoration: underline;
	text-align: center;
}
