/* colours
red #e7001d
dark grey #222222
black borders #111111
yellow #e4c22a

*/


/*position relative and overflow hidden for banner*/

html {
	font-family: 'Noto Sans', sans-serif;
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 0;
}
*, *::before, *::after {
	box-sizing: inherit;
}

nav ul {
	list-style-type: none;
}


.header-div {
	text-align: center;
	text-shadow:0 2px 3px rgba(0, 0, 0, 200);
	padding-bottom: 1em;
	background-color: #e7001d;
	position: relative;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
	color: white;
	padding-top: 0.5em;
	font-size: 3.5rem;
	z-index: 2;
	}

.medallion {
	position: absolute;
	width: 100px;
	display: block;
	top: 2em;
	left: 42.5%;
	z-index: 1;
}

.chinese-zodiac {
	margin-top: 0;
	font-size: 1rem;
}

.dragon {
	background-color: #e4c22a;
}

.goat {
	background-color: #222222;
	color: white;
}

.rooster {
	background-color: #e7001d;
	color: white;
}

.ox {
	background-color: #e4c22a;
}

h3 {
	margin: 0;
	padding: 1em 0;
	text-align: center;
}
.h3-p {
	margin: 0;
	padding: 1em 0;
	text-align: center;
	font-style: italic;
}
