/* colours
red #e7001d
dark grey #222222
black borders #111111
yellow #e4c22a

*/


/*position relative and overflow hidden for banner*/
/* if something has a width you can add margin: 0 auto; fixes everything!!!!*/

html {
	font-family: 'Noto Sans', sans-serif;
	box-sizing: border-box;
	margin: auto 0;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

header {
	text-align: center;
	text-shadow:0 2px 3px rgba(0, 0, 0, 200);
	padding-bottom: 1em;
	background-color: #e7001d;
	padding-top: 1em;
	position: relative;
}

.medallion {
width: 100px;
position: relative;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
	color: white;
	font-size: 3.5rem;
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	bottom: 10px;
}


.chinese-zodiac {
	margin-top: 0;
	font-size: 1rem;
}







nav ul {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	display: block;
}

nav ul li {
		display: block;
	border: 1px solid black;
	width: 50%;
	float: left;
	background-color: #222222;
}

nav ul li a {
	text-decoration: none;
	color: white;
	display: block;
	margin: 0;
	padding: .5em 0 .5em .5em;
}



.li-dragon:hover{
	background-color: #e4c22a;
}
.a-dragon:hover {
	color: black;
}

.li-goat:hover{
	background-color: white;
}
.a-goat:hover {
	color: black;
}

.li-rooster:hover{
	background-color: #e7001d;
}
.a-rooster:hover {
	color: black;
}
.a-ox:hover {
	color: black;
}
.li-ox:hover{
	background-color: #e4c22a;
}




.main-p {
	padding: 0 0.75em;
}


/*figure {
	width: 100%;
	clear: both;
	margin: 0;
}

.dragon-symbol, .goat-icon, .rooster-symbol, .ox-icon {
	/*float: left;*/
	/*width: 40%;
	position: relative;
	left: 10%;

}

.dragon-icon, .goat-symbol, .rooster-icon, .ox-symbol {
	/*float: right;*/
	/*width: 40%;
	position: relative;
	left: 10%;
}*/


.dragon-symbol, .goat-icon, .rooster-symbol, .ox-icon {
	float: left;
	width: 50%;
}

.dragon-icon, .goat-symbol, .rooster-icon, .ox-symbol {
	float: right;
	width: 50%;
}



.dragon {
	background-color: #e4c22a;
	overflow: hidden;
}

.goat {
	background-color: #222222;
	color: white;
	overflow: hidden;
}

.rooster {
	background-color: #e7001d;
	color: white;
	overflow: hidden;
}

.ox {
	background-color: #e4c22a;
	overflow: hidden;
}


.div2 {
	position: relative;
}


h2 {
 text-align: center;
 font-style: italic;
 text-shadow:0 2px 3px rgba(0, 0, 0, 200);
 color: white;
 position: absolute;
 bottom: 5%;
 width: 100%;
 font-weight: normal;
 font-size: 2rem;
 margin: 0;
}

.banner {
	width: 100%;
}








h3 {
	margin: 0;
	padding: 1em 0;
	text-align: center;
}
.h3-p {
	margin: 0;
	padding: 1em 0;
	text-align: center;
	font-style: italic;
	clear: both;
	font-size: 90%;
	padding-left: 0.25rem;
	padding-bottom: 2em;
}

footer {
	background-color: #222222;
	padding: .5em 0;
}

.backtotop {
	color: white;
	text-decoration: underline;
	text-align: center;
	font-size: 75%;
}
